.sheetContent {
  max-width: var(--app-width); /* 使用全局定义的宽度 */
  margin: 0 auto;
}

.modalBody {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 380px;
  margin-top: 15px;
  .yearTitle {
    text-align: center;
    color: rgb(127, 127, 127);
  }
  .monthList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
  }
  .month {
    height: 30px;
    text-align: center;
    background-color: #fff;
    line-height: 30px;
    cursor: pointer;
    border-radius: 5px;
  }
  .isCurrentMonth {
    background-color: var(--main-color);
    color: #fff;
  }
}
